input, button{
  padding:10px;
  outline:none;
  margin:10px;
}

button{
  cursor:pointer;
  border:none;
  background:black;
  color:white;
  border-radius:10px;
  transition: all 0.1s ease-in-out;
}

button:hover{
  background:Grey;
}